<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail page</title>
</head>
<body>
    {% if book %}
        <p>This is detail page of book with id = {{book.id}}</p>
        <p>Author = {{book.author.name}}</p>
        <p>Number of pages = {{book.num_of_pages}}</p>
    {% else %}
        The book with this id does not exist.
    {% endif %}
    <a href="{% url 'index' %}">Go Back</a>
</body>
</html>